[title=""]{
	width: 100px; 
}

figure{
	width: 300px;
	padding:5px;
	border: 1px solid grey;
	background-color: lightgrey;
	position: relative;
	overflow: hidden;
}
figure:hover figcaption{
	bottom:5px;
}

figure img{
	display: block;
}

figure h3{
	margin-top:5px;
	margin-bottom:1px;
}
figcaption{
	transition: 1s;
	padding: 5px;
	background-color:rgba(0,0,0,0.2);/
	text-align:center;
	width:290px;
	position: absolute;
	bottom:-150px;
}
figure a{
	color: black;
	text-decoration: none;
}
figure a:hover{
	color: ;
}
figure a:visited{
	color: ;
}
figure a:active{
	color: ;
}