body{ 
	text-align:center;
	line-height:normal;
}
header,nav,main,footer{
	border:1px solid;
	
}
header{
	height: 70px;
	background-color: yellow;
}
nav{
	height: 50px;
	background-color: dodgerblue;
}
main{
	height: 600px;
	vertical-align: middle ;
}
footer{
	height: 50px;
	background-color: yellow;
}
