body{
	background-color: white;
	font-family: arial;
	font-size: 18px;
}

div{
	/* border: 2px solid; */
	width: 1000px;
	/* margin: auto; */
	margin: 0px auto;
	/* margin: 50px 0px 0px 200px; haut droite bas gauche*/
	/* margin-top: 50px; */
	/* marge avec 2 valeur : haut-bas puis gauche-droite  */
}

header{
	background-color: skyblue;
	height: 100px;
}

nav{
	background-color: red;
	height: 55px;
}

main{
	background-color: lightgrey;
	height: 500px;
}

footer{
	background-color: green;
	height: 80px;
}
